#content {
  background-color: lavender;
  width: 500px;
  height: auto;
  border: dotted #97A3BB;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin: auto;
}


#output{
  background-color: #000
  border: solid #000;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 20px;
  padding-bottom: 10px;
  width: inherit;
}

ul{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li{
  text-align: -webkit-match-parents;
}

ul.comicAll{
  margin: auto;
  list-style-type: none;
}
